# Configuration de l'environnement
# Le fichier d'environnement est un fichier .env qui contient les variables d'environnement pour l'application.
# Le fichier env.example est un exemple de fichier .env

# Environnement d'execution (developpement ou production) (developpement par defaut)
NODE_ENV=developpement

# Chemin d'access de la base de donnees (mongodb://localhost:27017/BOURGEON par defaut)
DB_URI=mongodb://localhost:27017/BOURGEON

# Port d'exection de l'application (3000 par defaut)
APP_PORT=3000

# Cle secret pour le cryptage des donnees sensibles (secret_pour_generer_le_token par defaut)
JWT_SECRET=secret_pour_generer_le_token

# Type de base de donnees (MongoDB)
DBMS=MongoDB

# Niveau de logging (error, warn, info, debug) (info par defaut)
LOG_LEVEL=info

# Taille maximale des fichiers de logs (20m par defaut)
LOG_MAX_SIZE=20m

# Durée de conservation des fichiers de logs (14jours par defaut)
LOG_MAX_FILES=14d

# Format de date pour la rotation des fichiers (YYYY-MM-DD par defaut)
LOG_DATE_PATTERN=YYYY-MM-DD

# Activer/désactiver la console (true/false) (true par defaut)
LOG_ENABLE_CONSOLE=true

# Activer/désactiver les fichiers (true/false) (true par defaut)
LOG_ENABLE_FILE=true

# Répertoire des logs (relatif à la racine du projet) (logs par defaut)
LOG_DIRECTORY=logs
